@{
    ViewBag.Title = "AboutUs";
}

<div class="panel">
    <div class="panel-body">
        <h2 style="color:#333;font-family: Courier New, monospace;font-size: 32px;">O Nás</h2>
    </div>
</div>


<div class="well">
    <p>Toto je místo pro všechny milovníky sklípkanů. Místo kde můžete poznávat jiné chovatele, rozšiřovat svoje znalosti.... Chtěli jsme vytvořit místo kde by bylo možné jednoduše sdílet informace s jinými chovateli sklípkanů. Tak se zaregistrujte a začněte sdílet.</p>
</div>
