<div class="page-header">
    <h1 style="color:#333;font-family: Courier New, monospace;font-size: 32px;">Přihlášen jako administrátor</h1>
    <h2 style="color:#333;font-family: Courier New, monospace;font-size: 20px;">Dnes je: @DateTime.Now.ToString()<h2>
</div>
