@{
    ViewBag.Title = "Contact";
}

<div class="panel">
    <div class="panel-body">
        <h2 style="color:#333;font-family: Courier New, monospace;font-size: 32px;">Kontakt</h2>
    </div>
</div>


<div class="well">
    <p>Náš E-mail: tarantulelove@gmail.cz</p>
    <p>Telefon: +420 772 654 458</p>
</div>
